/* common */

.common-article-contetnt-width {
    width: 60%;
}

.common-article-left-view-width {
    width: 40%;
}

/* article search bar pannel */

.aa-Autocomplete {
    display: flex;
    justify-content: center;
}

#article-search-panel {
    position: fixed;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--black);
    top: 64px;
    right: 0;
    z-index: 9999999;
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-120%);
    will-change: transform;
}

#article-search-panel.show {
    transform: translateY(0);
}

.article-left-view-image-wrapper {
    transition: filter 0.3s;
    will-change: filter;
}

.article-left-view-image-wrapper.greyscale {
    filter: grayscale(100%);
}

.aa-ClearButton {
    color: var(--white);
    position: relative;
    bottom: 1px;
    padding: 0 15px;
}

.aa-ClearIcon {
    display: none;
}

.close-button {
    background-color: transparent;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 0;
}

.close-button svg {
    transition: fill 0.075s;
}

.close-button:hover svg {
    fill: var(--white);
}

.autocomplete-record-container {
    display: flex;
    text-decoration: none;
}

.autocomplete-record-details {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: -4px 20px 0 0;
}

.autocomplete-item-title {
    font-family: 'DM Serif Display Regular';
    font-size: 25px;
    font-weight: 800;
    line-height: 1.15;
    letter-spacing: 0.8px;
    margin-bottom: 6px;
}

.autocomplete-item-subtitle {
    font-family: "DM Sans", sans-serif;
    color: var(--alt-text);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: .2px;
    text-align: left;
    margin-bottom: 3px;
}

.autocomplete-item-topic {
    display: inline-block;
    position: relative;
    font-family: "DM Sans", sans-serif;
    color: var(--black);
    text-align: left;
    letter-spacing: .3px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
    left: -1px;
}

.autocomplete-item-topic::before {
    content: "chevron_right";
    font-family: "Material Symbols Rounded (Google)", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: .2px;
    color: var(--black);
    position: relative;
    top: 3px;
    left: -3px;
}

.autocomplete-item-thumbnail-container {
    width: 100px;
    height: 130px;
    min-width: 100px;
    min-height: 130px;
    margin-left: auto;
}

.autocomplete-item-thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.aa-SourceNoResults {
    padding: 0;
}

.no-results-record-container {
    color: var(--white);
    padding: 15px;
    border-radius: 12px;
    transition: background-color .1s;
}

.no-results-record-container:hover {
    background-color: var(--container-hover);
    will-change: background-color;
}

.aa-Panel {
    position: fixed;
    top: 108px !important;
    display: flex;
    justify-content: center;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    z-index: 9999999;
}

.aa-PanelLayout,
.aa-Panel--scrollable {
    padding: 15px 2px 15px 15px;
    background-color: var(--white);
    max-width: 600px;
    height: calc(100vh - 108px) !important;
    max-height: none;
}

.aa-Item {
    color: var(--white);
    padding: 15px;
    border-radius: 12px;
    transition: background-color .1s;
}

.aa-Item[aria-selected="true"] {
    background-color: var(--container-hover);
    will-change: background-color;
}

.aa-Item:active {
    background-color: var(--article-topbar-button-tap-and-click);
    will-change: background-color;
}

.aa-InputWrapperPrefix {
    position: relative;
    right: 28px;
    order: 2;
}

.aa-SubmitButton {
    position: relative;
    width: auto;
    padding: 0;
    bottom: -1px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.aa-Label svg {
    color: var(--black);
}

.aa-LoadingIndicator {
    position: relative;
    right: 1px;
}

.aa-LoadingIndicator svg {
    color: rgba(255, 255, 255, 0.45);
}

.aa-InputWrapper {
    position: relative;
    margin-right: 58px;
    left: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    order: 1;
}

.aa-InputWrapperSuffix {
    position: relative;
    right: 28px;
    order: 3;
}

.close-button-container {
    position: relative;
    padding: 0px;
    right: 28px;
    order: 3;
}

.aa-Form {
    background-color: var(--black);
    border: none;
    border-radius: 100px;
    max-width: 600px;
    margin: 0 28px;
}

.aa-Form:hover {
    border: none;
}

.aa-Form:focus-visible {
    border: none;
}

.aa-Form:focus-within {
    border: none;
    box-shadow: none;
}

.aa-Input {
    position: relative;
    bottom: 1px;
    caret-color: rgba(255, 255, 255, 0.45);
    font-family: monospace, sans-serif;
}

.aa-Input::placeholder {
    color: var(--black);
}

.aa-GradientBottom {
    display: none;
}

.aa-ClearButton {
    color: rgba(255, 255, 255, 0.45);
    padding: 0;
    transition: color 0.075s;
}

.aa-ClearButton:hover {
    color: var(--white);
}

.aa-ClearButton:focus-visible {
    color: var(--white);
    outline: none;
}

/* custom caret */

.letter {
    color: var(--white);
    display: flex;
    justify-content: center;
    min-height: 23px;
    background-color: transparent;
    align-content: center;
    flex-wrap: wrap;
    font-family: monospace, sans-serif;
}

.space {
    background-color: transparent;
    min-width: 8px;
}

.caret {
    color: var(--white);
    display: flex;
    justify-content: center;
    min-height: 23px;
    background-color: rgba(255, 255, 255, 0.45);
    align-content: center;
    flex-wrap: wrap;
    animation: blink 1s linear infinite;
    animation-timing-function: steps(1, end);
    will-change: background-color;
}

@keyframes blink {
    0% {
        background-color: rgba(255, 255, 255, 0.45);
    }

    50% {
        background-color: transparent;
    }

    100% {
        background-color: rgba(255, 255, 255, 0.45);
    }
}

.aa-Input {
    color: transparent;
    caret-color: transparent;
}

.aa-Input::selection {
    background: grey;
    color: grey;
}

/* mobile */
@media only screen and (max-width: 680px) {
    .aa-DetachedSearchButton {
        background-color: var(--black);
        border-color: rgb(255 255 255 / 60%);
        border-width: 2px;
    }

    .aa-SubmitIcon,
    .aa-DetachedCancelButton {
        color: var(--white);
    }

    .aa-DetachedSearchButtonPlaceholder {
        color: rgba(255, 255, 255, 0.45);
    }

    .aa-DetachedContainer {
        background-color: var(--black);
    }
}












/* article breadcrumbs */

.ol-breadcrumbs,
.ul-description {
    display: inline;
    padding: 0;
    margin: 0;
}

.description-list-container,
.nav-breadcrumbs {
    display: inline;
}

.current-breadcrumbs-link {
    font-family: "DM Sans", sans-serif;
    color: var(--black);
    text-align: left;
    letter-spacing: .3px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
}

/* article description */

figure {
    margin: 0;
}

figcaption {
    margin: 0;
}

.article-description-wrapper {
    display: flex;
    text-align: left;
}

.description-label-text {
    display: inline;
    font-family: "DM Sans", sans-serif;
    color: var(--black);
    text-align: left;
    letter-spacing: .3px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
}

.description-label-text-colon {
    margin-right: 4px;
}

.description-link {
    color: var(--alt-text);
    text-align: left;
    letter-spacing: .2px;
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
}

.description-text {
    font-family: "DM Sans", sans-serif;
    color: var(--alt-text);
    text-align: left;
    letter-spacing: .2px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
}

/* description svg icons */
.description-icon-svg {
    position: relative;
}

.breadcrumbs-divider,
.description-link-divider {
    position: relative;
}

.add {
    width: 10px;
    height: 10px;
    margin: 0 3px 3px 3px;
}

.arrow_forward {
    width: 10px;
    height: 10px;
    margin: 0 3px 1px 3px;
}

.code {
    height: 11px;
    width: 15px;
    margin: 0 4px 3px 4px;
}

.folder-open {
    width: 21px;
    height: 21px;
    margin: 0 6px 0 0;
}

.inventory {
    width: 19px;
    height: 19px;
    margin: 2px 6px 0 2px;
}

.attribution {
    width: 21px;
    height: 21px;
    margin: 2px 6px 0 0;
}

.update {
    width: 21px;
    height: 21px;
    margin: 2px 6px 0 0;
}

.newsmode {
    width: 20px;
    height: 19px;
    margin: 2px 6px 0 1px;
}

.filter-focus-center {
    width: 19px;
    height: 19px;
    margin: 2px 7px 0 1px;
}

/* topbar svg icons */

.person {

}

.search {

}

.book {

}

.comment {

}

.dark-mode {

}

.contrast {

}

.event_busy {

}

.verified {

}

:root {
    --aa-scrollbar-track-background-color-rgb: 255, 255, 255;
    --aa-scrollbar-thumb-background-color-rgb: 255, 255, 255;
    --black: #333333;
    --white: #ffffff;
}

/* topbar on scroll */

@keyframes animateTopbarShadow {
    0% {
        box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.28);
    }

    100% {
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.28);
    }
}

@keyframes animateTopbarShadowReverse {
    0% {
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.28);
    }

    100% {
        box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.28);
    }
}

.article-topbar-navigation-container {
    animation: animateTopbarShadowReverse 0.15s forwards;
    animation-play-state: running;
    will-change: box-shadow;
    z-index: 99999999;
    background-color: var(--white);
    width: 100%;
    height: 64px;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.article-topbar-navigation-container.article-topbar-navigation-shadow-on-scroll {
    animation: animateTopbarShadow 0.25s forwards;
    animation-play-state: running;
    will-change: box-shadow;
}

.article-topbar-navigation-wrapper {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}

.article-topbar-navigation-button-container-lft {
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    margin-right: auto;
    display: flex;
    position: relative;
    grid-column-gap: 9px;
    grid-row-gap: 9px;
}

.article-topbar-navigation-button-container-cnt {
    position: absolute;
}

/* article topbar navigation buttons */

.article-topbar-navigation-button {
    background-color: transparent;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    transition: background-color .15s;
    display: flex;
    position: relative;
}

.article-topbar-navigation-button:focus {
    background-color: var(--article-topbar-button-hover);
    outline: none;
}

.article-topbar-navigation-button-inner-hover-circle {
    background-color: var(--article-topbar-button-hover);
    border-radius: 6px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    will-change: transform;
    transform: scale(0);
    transition: transform 0.15s;
}

.article-topbar-navigation-button-inner-tap-and-click-circle {
    background-color: var(--article-topbar-button-tap-and-click);
    border-radius: 6px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    will-change: transform;
    transform: scale(0);
    transition: transform 0.15s;
}

.article-topbar-navigation-close-button {
    z-index: 500;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    margin-left: auto;
    text-decoration: none;
    transition: background-color .15s;
    display: flex;
    position: absolute;
}

.article-topbar-navigation-button:hover .article-topbar-navigation-button-inner-hover-circle,
.article-topbar-navigation-close-button:hover .article-topbar-navigation-button-inner-hover-circle {
    transform: scale(1);
}

.article-topbar-navigation-button:active .article-topbar-navigation-button-inner-tap-and-click-circle,
.article-topbar-navigation-close-button:active .article-topbar-navigation-button-inner-tap-and-click-circle {
    transform: scale(1);
}

/* article topbar navigation: close button */

.scroll-progress-indicator-container {
    cursor: pointer;
    width: 47px;
    height: 47px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    display: flex;
    position: absolute;
    right: 0;
}

.scroll-progress-indicator-wrapper {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    will-change: transform;
    transform: scale(1);
    transition: transform 0.15s;
}

#scroll-progress-indicator {
    position: fixed;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-progress-indicator-circle {
    position: absolute;
    width: 3px;
    height: 3px;
    margin: 3px;
    background-color: var(--black);
    border-radius: 50%;
    opacity: 0;
}

.scroll-progress-indicator-circle.active {
    opacity: 1;
}

.article-topbar-navigation-icon.close-article,
.article-topbar-navigation-icon.finished-reading {
    will-change: transform;
    transition: transform 0.15s;
}

.article-topbar-navigation-icon.close-article {
    transform: scale(1);
}

.article-topbar-navigation-icon.finished-reading {
    transform: scale(0);
}

/* nodrag & noselect */

.article-topbar-navigation-container,
.article-left-view-container,
.description-icon-svg {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -user-drag: none;
}

/* drop cap */

.paragraph.drop-cap::first-letter {
    font-family: "Costack Globe Grid", "DM Serif Display", sans-serif;
    color: #cccccc;
    font-size: 130px;
    font-weight: 400;
    line-height: 1;
    float: left;
    margin: 12px 18px -5px 0px;
    background: #333333;
    border-radius: 8px;
}

/* blockquote */

blockquote p {
    font-family: "DM Sans", sans-serif !important;
    color: var(--black);
    font-size: 22px;
    line-height: 1.4;
    font-weight: 600;
    bottom: 3px;
    position: relative;
}

.quote-author {
    font-family: "DM Sans", sans-serif;
    color: var(--black);
    text-align: left;
    letter-spacing: .3px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
}

.quote-author-position {
    color: var(--alt-text);
    text-align: left;
    letter-spacing: .2px;
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
}

blockquote.paragraph {
    border: none;
    margin: 0;
    padding: 0;
}

.quote-container {
    display: flex;
    flex-direction: row;
}

.blockquote-container {
    display: flex;
    position: relative;
    top: 4px;
    flex-direction: row;
    justify-content: flex-start;
}

.blockquote-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 3px;
    margin-right: 3px;
}

.blockquote-column:last-child {
    margin-right: 0;
}

.blockquote-circle {
    flex: 0 0 auto;
    width: 3px;
    height: 3px;
    background-color: var(--globe-grid-circles-grey);
    border-radius: 50%;
    margin-bottom: 3px;
}

.blockquote-circle:last-child {
    margin-bottom: 0;
}

/* blockquote attribution icon */

.globe-grid-quote-attribution-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(4 * (3px + 3px) + 3px);
}

.globe-grid-quote-attribution-circles-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 3px;
}

.globe-grid-quote-attribution-circles-bottom {
    display: flex;
    justify-content: flex-start;
}

.globe-grid-quote-attribution-circle {
    width: 3px;
    height: 3px;
    background-color: var(--globe-grid-circles-grey);
    border-radius: 50%;
    margin: 3px 3px 0 0;
}

/* article section banner swap */

.article-left-view-image-container {
    flex-flow: column nowrap;
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

/* links */

.paragraph-link,
.paragraph {
    margin-bottom: 0;
    font-family: DM Sans, sans-serif;
    color: var(--black);
    font-size: 20px;
    line-height: 1.51;
    font-weight: 300;
}

.footer-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
}

.footer-link {
    color: var(--alt-text);
    text-align: left;
    letter-spacing: .2px;
    font-family: DM Sans, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
}

.moon-grid-link {
    position: relative;
    text-decoration: none;
}

.moon-grid-link-container {
    display: inline-block;
    position: relative;
    height: auto;
}

.moon-grid-link-circle-underline {
    position: absolute;
    left: 0;
    bottom: -1px;
    display: flex;
    justify-content: space-between;
    overflow: visible;
    width: 100% !important;
    height: 3px;
}

.moon-grid-link-circle {
    width: 3px;
    height: 3px;
    background-color: var(--globe-grid-circles-grey);
    border-radius: 50%;
}

.moon-grid-link:hover .moon-grid-link-circle {
    animation: shrinkAndGrow 0.35s forwards;
}

@keyframes shrinkAndGrow {
    0% {
        transform: scaleX(1) scaleY(1);
        background: var(--globe-grid-circles-grey);
        border-radius: 50%;
    }

    50% {
        transform: scaleX(1) scaleY(.333);
        border-radius: 0%;
    }

    100% {
        transform: scaleX(3) scaleY(.333);
        background: var(--black);
        border-radius: 0%;
    }
}

.moon-grid-link:not(:hover) .moon-grid-link-circle {
    animation: growAndShrink 0.5s forwards;
}

@keyframes growAndShrink {
    0% {
        transform: scaleX(3) scaleY(.333);
        background: var(--black);
        border-radius: 0%;
    }

    50% {
        transform: scaleX(1) scaleY(.333);
        border-radius: 0%;
    }

    100% {
        transform: scaleX(1) scaleY(1);
        background: var(--globe-grid-circles-grey);
        border-radius: 50%;
    }
}

.moon-grid-link-container a {
    position: relative;
}

.globe-grid-link {
    position: relative;
    text-decoration: none;
}

.globe-grid-link-container {
    display: inline;
    position: relative;
}

.globe-grid-link-circle-underline {
    position: absolute;
    left: 0;
    bottom: -1px;
    display: flex;
    justify-content: space-between;
    overflow: visible;
    width: 100% !important;
    height: 3px;
}

.globe-grid-link-circle {
    width: 3px;
    height: 3px;
    background-color: var(--globe-grid-circles-grey);
    border-radius: 50%;
}

.globe-grid-link:hover .globe-grid-link-circle {
    animation: shrinkAndGrow 0.35s forwards;
}

@keyframes shrinkAndGrow {
    0% {
        transform: scaleX(1) scaleY(1);
        background: var(--globe-grid-circles-grey);
        border-radius: 50%;
    }

    50% {
        transform: scaleX(1) scaleY(.333);
        border-radius: 0%;
    }

    100% {
        transform: scaleX(3) scaleY(.333);
        background: var(--black);
        border-radius: 0%;
    }
}

.globe-grid-link:not(:hover) .globe-grid-link-circle {
    animation: growAndShrink 0.5s forwards;
}

@keyframes growAndShrink {
    0% {
        transform: scaleX(3) scaleY(.333);
        background: var(--black);
        border-radius: 0%;
    }

    50% {
        transform: scaleX(1) scaleY(.333);
        border-radius: 0%;
    }

    100% {
        transform: scaleX(1) scaleY(1);
        background: var(--globe-grid-circles-grey);
        border-radius: 50%;
    }
}

.globe-grid-link-container a {
    position: relative;
}

/* section separator */

.globe-grid-section-separator-grey-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3px;
    min-width: 0;
}

.globe-grid-section-separator-grey-circle {
    flex: 0 0 auto;
    width: 3px;
    height: 3px;
    background-color: var(--globe-grid-circles-grey);
    border-radius: 50%;
    margin-right: 3px;
}

.globe-grid-section-separator-grey-circle:last-child {
    margin-right: 0;
}

#topbar-separator .globe-grid-section-separator-grey-circle {
    transform: scale(0);
    transition: transform 0.5s;
    will-change: transform;
}

/* text and labels */

.bold-paragraph-text {
    font-family: DM Sans, sans-serif;
    color: var(--black);
    font-size: 20px;
    line-height: 1.51;
    font-weight: 600;
}
