/* theme */

:root {
    --theme-toggle-duration: 0.20s linear;
    --white: #ffffff;
    --black: #333333;
    --white-background: #fdfdfd;
    --black-background: #2d2d2d;
    --globe-grid-circles-grey-light-mode: #e0e0e0;
    --globe-grid-circles-grey-dark-mode: #535353;
    --search-bar-dark-mode: #636363;
    --button-background-hover-light-mode: #efefef;
    --button-background-active-light-mode: #dfdfdf;
    --button-background-hover-dark-mode: #454545;
    --button-background-active-dark-mode: #515151;
    --container-background-light-mode: var(--white);
    --container-background-hover-light-mode: #f5f5f5;
    --container-background-active-light-mode: #e7e7e7;
    --container-background-dark-mode: var(--black);
    --container-background-hover-dark-mode: #3d3d3d;
    --container-background-active-dark-mode: #474747;
    --topbar-box-shadow-scroll-position-zero-light-mode: 0 0 0px 0px rgba(0, 0, 0, 0.28);
    --topbar-box-shadow-scroll-position-zero-plus-light-mode: 0 0 5px 1px rgba(0, 0, 0, 0.28);
    --topbar-box-shadow-scroll-position-zero-dark-mode: 0 0 0px 0px rgba(0, 0, 0, 0.28);
    --topbar-box-shadow-scroll-position-zero-plus-dark-mode: 0 0 5px 1px rgba(0, 0, 0, 0.28);
}






/* body on scroll (classes added via js) */

body {
    background-color: var(--white);
    transition: background-color var(--theme-toggle-duration);
}
body.body-bg-color-on-scroll {
    background-color: var(--white);

}
body.dark-mode {
    background-color: var(--black);

}
body.dark-mode.body-bg-color-on-scroll {
    background-color: var(--black-background);

}







/* topbar on scroll (classes added via js) */

.article-topbar-navigation-container {
    background-color: var(--white);
    box-shadow: var(--topbar-box-shadow-scroll-position-zero-light-mode);
    transition: background-color var(--theme-toggle-duration), box-shadow var(--theme-toggle-duration);
}
.article-topbar-navigation-container.article-topbar-navigation-shadow-on-scroll {
    background-color: var(--white);
    box-shadow: var(--topbar-box-shadow-scroll-position-zero-plus-light-mode);

}
.dark-mode .article-topbar-navigation-container {
    background-color: var(--black);
    box-shadow: var(--topbar-box-shadow-scroll-position-zero-dark-mode);

}
.dark-mode .article-topbar-navigation-container.article-topbar-navigation-shadow-on-scroll {
    background-color: var(--black);
    box-shadow: var(--topbar-box-shadow-scroll-position-zero-plus-dark-mode);

}









/* topbar navigation buttons */

.article-topbar-navigation-button-inner-hover-circle {
    background-color: var(--button-background-hover-light-mode);
}
.article-topbar-navigation-button-inner-tap-and-click-circle {
    background-color: var(--button-background-active-light-mode);
}
.dark-mode .article-topbar-navigation-button-inner-hover-circle {
    background-color: var(--button-background-hover-dark-mode);
}
.dark-mode .article-topbar-navigation-button-inner-tap-and-click-circle {
    background-color: var(--button-background-active-dark-mode);
}









/* theme toggle elements */

.blockquote-circle {
    background-color: var(--globe-grid-circles-grey-light-mode);
    transition: background-color var(--theme-toggle-duration);
}
.dark-mode .blockquote-circle {
    background-color: var(--globe-grid-circles-grey-dark-mode);
}
.globe-grid-quote-attribution-circle {
    background-color: var(--globe-grid-circles-grey-light-mode);
    transition: background-color var(--theme-toggle-duration);
}
.dark-mode .globe-grid-quote-attribution-circle {
    background-color: var(--globe-grid-circles-grey-dark-mode);
}
.moon-grid-link-circle {
    background-color: var(--globe-grid-circles-grey-light-mode);
    transition: background-color var(--theme-toggle-duration);
}
.dark-mode .moon-grid-link-circle {
    background-color: var(--globe-grid-circles-grey-dark-mode);
}
.globe-grid-link-circle {
    background-color: var(--globe-grid-circles-grey-light-mode);
    transition: background-color var(--theme-toggle-duration);
}
.dark-mode .globe-grid-link-circle {
    background-color: var(--globe-grid-circles-grey-dark-mode);
}
.globe-grid-section-separator-grey-circle {
    background-color: var(--globe-grid-circles-grey-light-mode);
    transition: background-color var(--theme-toggle-duration);
}
.dark-mode .globe-grid-section-separator-grey-circle {
    background-color: var(--globe-grid-circles-grey-dark-mode);
}















/* search */

:root {
    --aa-scrollbar-track-background-color-rgb: 255, 255, 255;
    --aa-scrollbar-thumb-background-color-rgb: 255, 255, 255;

    --aa-form-symbol-light-mode: var(--white);
    --aa-form-symbol-light-mode-hover: #c7c7c7;
    --aa-form-symbol-light-mode-active: var(--white);

    --aa-form-symbol-dark-mode: #f5f5f5;
    --aa-form-symbol-dark-mode-hover: #c7c7c7;
    --aa-form-symbol-dark-mode-active: #f5f5f5;

    --aa-custom-caret-font-color: var(--black);
    --aa-custom-caret-background-color: var(--white);
}

.dark-mode {
    --aa-scrollbar-track-background-color-rgb: 51, 51, 51;
    --aa-scrollbar-thumb-background-color-rgb: 51, 51, 51;
}
#article-search-panel {
    background-color: var(--black);
}
.dark-mode #article-search-panel {
    background-color: var(--search-bar-dark-mode);
}
.aa-Form {
    background-color: var(--black);
}
.dark-mode .aa-Form {
    background-color: var(--search-bar-dark-mode);
}

.aa-ClearButton {
    color: var(--aa-form-symbol-light-mode);
}
.aa-ClearButton:hover {
    color: var(--aa-form-symbol-light-mode-hover);
}
.aa-ClearButton:focus-visible {
    color: var(--aa-form-symbol-light-mode-active);
}

.dark-mode .aa-ClearButton {
    color: var(--aa-form-symbol-dark-mode);
}
.dark-mode .aa-ClearButton:hover {
    color: var(--aa-form-symbol-dark-mode-hover);
}
.dark-mode .aa-ClearButton:focus-visible {
    color: var(--aa-form-symbol-dark-mode-active);
}

.close-button svg {
    fill: var(--aa-form-symbol-light-mode);
}
.close-button:hover svg {
    fill: var(--aa-form-symbol-light-mode-hover);
}
.close-button:active svg {
    fill: var(--aa-form-symbol-light-mode-active);
}
.close-button:focus-visible svg {
    fill: var(--aa-form-symbol-light-mode-active);
}

.dark-mode .close-button svg {
    fill: var(--aa-form-symbol-dark-mode);
}
.dark-mode .close-button:hover svg {
    fill: var(--aa-form-symbol-dark-mode-hover);
}
.dark-mode .close-button:active svg {
    fill: var(--aa-form-symbol-dark-mode-active);
}
.dark-mode .close-button:focus-visible svg {
    fill: var(--aa-form-symbol-dark-mode-active);
}
.aa-SubmitButton {
    display: none;
}

.aa-LoadingIndicator svg {
    color: var(--aa-form-symbol-light-mode);
}
.dark-mode .aa-LoadingIndicator svg {
    color: var(--aa-form-symbol-dark-mode);
}
.article-autocomplete-search-overlay {
    background-color: var(--white);
}
.dark-mode .article-autocomplete-search-overlay {
    background-color: var(--black-background);
}

.aa-PanelLayout,
.aa-Panel--scrollable {
    background-color: var(--white);
}
.dark-mode .aa-PanelLayout,
.dark-mode .aa-Panel--scrollable {
    background-color: var(--black);
}

.aa-Panel {
    background-color: var(--white);
}
.dark-mode .aa-Panel {
    background-color: var(--black);
}

.no-results-record-container {
    background-color: var(--container-background-light-mode);
}
.no-results-record-container:hover {
    background-color: var(--container-background-hover-light-mode);
}
.no-results-record-container:active {
    background-color: var(--container-background-active-light-mode);
}
.dark-mode .no-results-record-container {
    background-color: var(--container-background-dark-mode);
}
.dark-mode .no-results-record-container:hover {
    background-color: var(--container-background-hover-dark-mode);
}
.dark-mode .no-results-record-container:active {
    background-color: var(--container-background-active-dark-mode);
}
.aa-Item {
    background-color: var(--container-background-light-mode);
}
.aa-Item[aria-selected="true"] {
    background-color: var(--container-background-hover-light-mode);
}
.aa-Item:active {
    background-color: var(--container-background-active-light-mode);
}
.dark-mode .aa-Item {
    background-color: var(--container-background-dark-mode);
}
.dark-mode .aa-Item[aria-selected="true"] {
    background-color: var(--container-background-hover-dark-mode);
}
.dark-mode .aa-Item:active {
    background-color: var(--container-background-active-dark-mode);
}

/* custom search input caret */

.letter {
    color: var(--aa-form-symbol-light-mode);
    background-color: transparent;
}
.dark-mode .letter {
    color: var(--aa-form-symbol-dark-mode);
    background-color: transparent;
}
.caret {
    animation: blink 1s linear infinite;
    animation-timing-function: steps(1, end);
}
@keyframes blink {
    0%, 100% {
        text-shadow: 0px 0px 0.5px currentColor;
        color: var(--aa-custom-caret-font-color);
        background-color: var(--aa-custom-caret-background-color);
    }

    50% {
        text-shadow: none;
        color: var(--aa-custom-caret-background-color);
        background-color: var(--aa-custom-caret-font-color);
    }
}
.dark-mode {
    --aa-custom-caret-font-color: var(--search-bar-dark-mode);
    --aa-custom-caret-background-color: var(--aa-form-symbol-dark-mode);
}

/* hiding native search input caret */

.aa-Input {
    color: transparent;
    caret-color: transparent;
}
.aa-Input::selection {
    background: grey;
    color: grey;
}





















/* links */

.paragraph-link,
.paragraph {
    margin-bottom: 0;
    color: var(--black);
}

.footer-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
}

.footer-link {
    color: var(--alt-text);
    text-align: left;
}

/* description link */

.moon-grid-link {
    position: relative;
    text-decoration: none;
}

.moon-grid-link-container {
    display: inline-block;
    position: relative;
    height: auto;
    white-space: nowrap;
}

.moon-grid-link-circle-underline {
    position: absolute;
    left: 0;
    bottom: -1px;
    display: flex;
    justify-content: space-between;
    overflow: visible;
    width: 100% !important;
    height: 3px;
}

.moon-grid-link-container a {
    position: relative;
}

.moon-grid-link-circle {
    width: 3px;
    height: 3px;
    border-radius: 1.5px;
    transition: transform 0.25s, border-radius 0.25s;
    transform: scaleX(1) scaleY(1);
}

.moon-grid-link:hover .moon-grid-link-circle {
    transform: scaleX(3) scaleY(.333);
    border-radius: 0px;
}

/* paragraph link */

.globe-grid-link {
    position: relative;
    text-decoration: none;
}

.globe-grid-link-container {
    display: inline;
    position: relative;
}

.globe-grid-link-circle-underline {
    position: absolute;
    left: 0;
    bottom: -1px;
    display: flex;
    justify-content: space-between;
    overflow: visible;
    width: 100% !important;
    height: 3px;
}

.globe-grid-link-container a {
    position: relative;
}

.globe-grid-link-circle {
    width: 3px;
    height: 3px;
    border-radius: 1.5px;
    transition: transform 0.25s, border-radius 0.25s;
    transform: scaleX(1) scaleY(1);
}

.globe-grid-link:hover .globe-grid-link-circle {
    transform: scaleX(3) scaleY(.333);
    border-radius: 0px;
}

/* text and labels */

.description-label {
    color: var(--black);
    text-align: left;
}

.description-text {
    text-align: left;
}

/* text selection */

::-moz-selection {
    color: #333333;
    background: rgba(0, 134, 218, 0.6);
}

::selection {
    color: #333333;
    background: rgba(0, 134, 218, 0.6);
}


/* section & topbar separator */

.globe-grid-section-separator-grey-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3px;
    min-width: 0;
}

.globe-grid-section-separator-grey-circle {
    flex: 0 0 auto;
    width: 3px;
    height: 3px;
    border-radius: 1.5px;
    margin-right: 3px;
    transition: transform 0.5s;
    will-change: transform;
}

.globe-grid-section-separator-grey-circle:last-child {
    margin-right: 0;
}
