/* theme */

:root {
    --white: #ffffff;
    --white-background: #fdfdfd;
    --black: #333333;
    --black-background: #2d2d2d;
    --globe-grid-circles-grey-light-mode: #e0e0e0;
    --globe-grid-circles-grey-dark-mode: #535353;
    --search-bar-dark-mode: #636363;
    --button-background-hover-light-mode: #efefef;
    --button-background-active-light-mode: #dfdfdf;
    --button-background-hover-dark-mode: #454545;
    --button-background-active-dark-mode: #515151;
    --container-background-light-mode: var(--white);
    --container-background-hover-light-mode: #f5f5f5;
    --container-background-active-light-mode: #e7e7e7;
    --container-background-dark-mode: var(--black);
    --container-background-hover-dark-mode: #3d3d3d;
    --container-background-active-dark-mode: #474747;
    --topbar-box-shadow-scroll-position-zero-light-mode: 0 0 0px 0px rgba(0, 0, 0, 0.28);
    --topbar-box-shadow-scroll-position-zero-plus-light-mode: 0 0 5px 1px rgba(0, 0, 0, 0.28);
    --topbar-box-shadow-scroll-position-zero-dark-mode: 0 0 0px 0px rgba(0, 0, 0, 0.28);
    --topbar-box-shadow-scroll-position-zero-plus-dark-mode: 0 0 5px 1px rgba(0, 0, 0, 0.28);
}

/* topbar & body on scroll (classes added via js) */

.article-topbar-navigation-container {
    box-shadow: var(--topbar-box-shadow-scroll-position-zero-light-mode);
    transition: box-shadow 0.15s linear;
}
.article-topbar-navigation-container.article-topbar-navigation-shadow-on-scroll {
    box-shadow: var(--topbar-box-shadow-scroll-position-zero-plus-light-mode);
    transition: box-shadow 0.15s linear;
}
.dark-mode .article-topbar-navigation-container {
    box-shadow: var(--topbar-box-shadow-scroll-position-zero-dark-mode);
    transition: box-shadow 0.15s linear;
}
.dark-mode .article-topbar-navigation-container.article-topbar-navigation-shadow-on-scroll {
    box-shadow: var(--topbar-box-shadow-scroll-position-zero-plus-dark-mode);
    transition: box-shadow 0.15s linear;
}

body {
    background-color: var(--white);
    transition: background-color 0.15s linear;
}
body.body-bg-color-on-scroll {
    background-color: var(--white-background);
    transition: background-color 0.15s linear;
}
.dark-mode body {
    background-color: var(--black);
    transition: background-color 0.15s linear;
}
.dark-mode body.body-bg-color-on-scroll {
    background-color: var(--black-background);
    transition: background-color 0.15s linear;
}

/* theme toggle elements */

.blockquote-circle {
    background-color: var(--globe-grid-circles-grey-light-mode);
}
.dark-mode .blockquote-circle {
    background-color: var(--globe-grid-circles-grey-dark-mode);
}
.globe-grid-quote-attribution-circle {
    background-color: var(--globe-grid-circles-grey-light-mode);
}
.dark-mode .globe-grid-quote-attribution-circle {
    background-color: var(--globe-grid-circles-grey-dark-mode);
}
.moon-grid-link-circle {
    background-color: var(--globe-grid-circles-grey-light-mode);
}
.dark-mode .moon-grid-link-circle {
    background-color: var(--globe-grid-circles-grey-dark-mode);
}
.globe-grid-link-circle {
    background-color: var(--globe-grid-circles-grey-light-mode);
}
.dark-mode .globe-grid-link-circle {
    background-color: var(--globe-grid-circles-grey-dark-mode);
}
.globe-grid-section-separator-grey-circle {
    background-color: var(--globe-grid-circles-grey-light-mode);
}
.dark-mode .globe-grid-section-separator-grey-circle {
    background-color: var(--globe-grid-circles-grey-dark-mode);
}

.article-topbar-navigation-container {
    background-color: var(--white);
}
.dark-mode .article-topbar-navigation-container {
    background-color: var(--black);
}
.article-topbar-navigation-button-inner-hover-circle {
    background-color: var(--button-background-hover-light-mode);
}
.article-topbar-navigation-button-inner-tap-and-click-circle {
    background-color: var(--button-background-active-light-mode);
}
.dark-mode .article-topbar-navigation-button-inner-hover-circle {
    background-color: var(--button-background-hover-dark-mode);
}
.dark-mode .article-topbar-navigation-button-inner-tap-and-click-circle {
    background-color: var(--button-background-active-dark-mode);
}

/* search */

:root {
    --aa-scrollbar-track-background-color-rgb: 255, 255, 255;
    --aa-scrollbar-thumb-background-color-rgb: 255, 255, 255;

    --aa-form-symbol-light-mode: var(--white);
    --aa-form-symbol-light-mode-hover: #c7c7c7;
    --aa-form-symbol-light-mode-active: var(--white);

    --aa-form-symbol-dark-mode: #f5f5f5;
    --aa-form-symbol-dark-mode-hover: #c7c7c7;
    --aa-form-symbol-dark-mode-active: #f5f5f5;

    --aa-custom-caret-font-color: var(--black);
    --aa-custom-caret-background-color: var(--white);
}

.dark-mode {
    --aa-scrollbar-track-background-color-rgb: 51, 51, 51;
    --aa-scrollbar-thumb-background-color-rgb: 51, 51, 51;
}
#article-search-panel {
    background-color: var(--black);
}
.dark-mode #article-search-panel {
    background-color: var(--search-bar-dark-mode);
}
.aa-Form {
    background-color: var(--black);
}
.dark-mode .aa-Form {
    background-color: var(--search-bar-dark-mode);
}

.aa-ClearButton {
    color: var(--aa-form-symbol-light-mode);
}
.aa-ClearButton:hover {
    color: var(--aa-form-symbol-light-mode-hover);
}
.aa-ClearButton:focus-visible {
    color: var(--aa-form-symbol-light-mode-active);
}

.dark-mode .aa-ClearButton {
    color: var(--aa-form-symbol-dark-mode);
}
.dark-mode .aa-ClearButton:hover {
    color: var(--aa-form-symbol-dark-mode-hover);
}
.dark-mode .aa-ClearButton:focus-visible {
    color: var(--aa-form-symbol-dark-mode-active);
}

.close-button svg {
    fill: var(--aa-form-symbol-light-mode);
}
.close-button:hover svg {
    fill: var(--aa-form-symbol-light-mode-hover);
}
.close-button:active svg {
    fill: var(--aa-form-symbol-light-mode-active);
}
.close-button:focus-visible svg {
    fill: var(--aa-form-symbol-light-mode-active);
}

.dark-mode .close-button svg {
    fill: var(--aa-form-symbol-dark-mode);
}
.dark-mode .close-button:hover svg {
    fill: var(--aa-form-symbol-dark-mode-hover);
}
.dark-mode .close-button:active svg {
    fill: var(--aa-form-symbol-dark-mode-active);
}
.dark-mode .close-button:focus-visible svg {
    fill: var(--aa-form-symbol-dark-mode-active);
}
.aa-SubmitButton {
    display: none;
}

.aa-LoadingIndicator svg {
    color: var(--aa-form-symbol-light-mode);
}
.dark-mode .aa-LoadingIndicator svg {
    color: var(--aa-form-symbol-dark-mode);
}
.article-autocomplete-search-overlay {
    background-color: var(--white);
}
.dark-mode .article-autocomplete-search-overlay {
    background-color: var(--black);
}

.aa-PanelLayout,
.aa-Panel--scrollable {
    background-color: var(--white);
}
.dark-mode .aa-PanelLayout,
.dark-mode .aa-Panel--scrollable {
    background-color: var(--black);
}

.aa-Panel {
    background-color: var(--white);
}
.dark-mode .aa-Panel {
    background-color: var(--black);
}

.no-results-record-container {
    background-color: var(--container-background-light-mode);
}
.no-results-record-container:hover {
    background-color: var(--container-background-hover-light-mode);
}
.no-results-record-container:active {
    background-color: var(--container-background-active-light-mode);
}
.dark-mode .no-results-record-container {
    background-color: var(--container-background-dark-mode);
}
.dark-mode .no-results-record-container:hover {
    background-color: var(--container-background-hover-dark-mode);
}
.dark-mode .no-results-record-container:active {
    background-color: var(--container-background-active-dark-mode);
}
.aa-Item {
    background-color: var(--container-background-light-mode);
}
.aa-Item[aria-selected="true"] {
    background-color: var(--container-background-hover-light-mode);
}
.aa-Item:active {
    background-color: var(--container-background-active-light-mode);
}
.dark-mode .aa-Item {
    background-color: var(--container-background-dark-mode);
}
.dark-mode .aa-Item[aria-selected="true"] {
    background-color: var(--container-background-hover-dark-mode);
}
.dark-mode .aa-Item:active {
    background-color: var(--container-background-active-dark-mode);
}

/* custom search input caret */

.letter {
    color: var(--aa-form-symbol-light-mode);
    background-color: transparent;
}
.dark-mode .letter {
    color: var(--aa-form-symbol-dark-mode);
    background-color: transparent;
}
.caret {
    animation: blink 1s linear infinite;
    animation-timing-function: steps(1, end);
}
@keyframes blink {
    0%, 100% {
        text-shadow: 0px 0px 0.5px currentColor;
        color: var(--aa-custom-caret-font-color);
        background-color: var(--aa-custom-caret-background-color);
    }

    50% {
        text-shadow: none;
        color: var(--aa-custom-caret-background-color);
        background-color: var(--aa-custom-caret-font-color);
    }
}
.dark-mode {
    --aa-custom-caret-font-color: var(--search-bar-dark-mode);
    --aa-custom-caret-background-color: var(--aa-form-symbol-dark-mode);
}

/* hiding native search input caret */

.aa-Input {
    color: transparent;
    caret-color: transparent;
}
.aa-Input::selection {
    background: grey;
    color: grey;
}